#header{
  color: red;
}

body{
  background-image: url("photos/background.png");
  color: white;
  font-size: 110%;

}

a{
  color: white;
  text-decoration: none;
  display:block;
  font-size:200%;
    width:600px;
    height:70px;
}

a:hover {
  color: hotpink;
  font-size: 50;
  font-size:206%;
}
