#header{
  background: black;
  color: red;
}

body{
  background: black;
  color: white;
}

a{
  color: white;
  text-decoration: none;
  display:block;
  font-size:200%;
    width:600px;
    height:70px;
}

a:hover {
  color: hotpink;
  font-size: 50;
  font-size:210%;
}
